.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffffff;
    }

#footer1 {
    background: #ffffff;
}

#footer2 {
    background: #ffffff;
}
